.descripcionAutores{
    display: none;
}

.contenedorImg{
    display: flex;
    align-content: center; 
}
#infoLibro b{
    font-size: 1rem;
}

.datos{
    font-size: 1rem;
}
#Portada{
    width:100%;
    max-width: 300px;
    max-height: 500px;
    margin: auto;
}
.tabs{
    padding-left: 0;
    margin-bottom: 20px;
    list-style-type: none;
}
.tabs .pestania{
    display: inline;
    text-align: center;
    color: #ffffff;
    padding-left: 5px;padding-right: 5px;
    background-color: rgb(99, 99, 99);
    border: .3px solid #ffffff;
    border-top-left-radius: 20%; border-top-right-radius: 20%;   
    padding-top: 5%; padding-bottom: 5%; 
}
.tabs > .pestania:hover,
.tabs > .pestania:focus {
    padding-top: 10%;
    background-color: rgb(155, 25, 25);
}

/*extra*/
#espacioPubli{
    background-color: #8a2be2;
}

/*mediaQuerys configuraciones*/

/*xs----Extra small*/
@media screen and (min-width:320px){
}
/*sm----small (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}
/*md----medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .tabs{
        padding-left: 0;
        margin:0;
    }
    .tabs .pestania{
        display: block;
        border-radius: 5%;
    }
}
/*lg----large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }
/*xl----Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

}
