html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#divBackground{          
    background-image: url('/static/Img/Libreria3.jpg');
    filter: blur(6px);
    -webkit-filter: blur(6px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.back{    
    text-align: center;
    width: 5%;
    padding: 2px; 
    background-color: rgba(0, 0, 0, 0.021);
    border-style: none;
    font-size: 10px;
    margin-left:8px; 
}

.back > i{    
    color: rgb(245, 245, 245); 
    font-size: 2em;      
}
.back:hover{
    text-align: center;
    font-size: 15px;        
}


