Footer{
    width: 100%;    
}   
footer div div a{
    display: block;
    padding: 15px 15px;
    color: aliceblue;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 20px;
    width: 170px;
    height: 20px;
}

#navfooter{
    margin-top: 35px;
}
