<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <!--Dependencias de la barra de navegación-->
    <link rel="stylesheet" type="text/css" href="{% static 'Css/PagPrincipal/navigation_bar_style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'Css/PagPrincipal/buscador.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'Css/footer.css' %}"/>

    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--Include GoogleFonts-->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3f1a99f494.js"></script>

    <title>{% block titulo %}Home{% endblock titulo %}</title>

    <!--En este bloque irían todas las dependecias específicas de cada pagina que herede de index-->
    {% block dependencias_individuales %} 
        <link rel="stylesheet" type="text/css" href="{% static 'Css/PagPrincipal/General.Css' %}" />       
        <link rel="stylesheet" href="{% static 'Css/PagPrincipal/scrollup.css' %}">
        <link rel="stylesheet" href="{% static 'Css/PagPrincipal/mainly_carousel.css' %}">
        <link rel="stylesheet" href="{% static 'Css/PagPrincipal/books_carousels.css' %}">

        <!-- Include Multislider -->
        <script src="{% static 'JQuery Library/multislider.js' %}"></script>
    {% endblock dependencias_individuales %}

    <!--dependecias de estilos que no deben ser sobreescritos-->
    <link rel="stylesheet" type="text/css" href="{% static 'Css/flexboxgrid.min.css' %}"/>
</head>
<body>
    <!--Barra de navegacion-->
    <a name="up"></a>
    <div class="row navBar">
        <div class="col-xs-12  col-sm-12 col-md-4 col-lg-3  center-sm center-xs">
            <h1 class="logo">
                {% load static %}
                <img src="{% static 'Img/LonelyBot.png' %}" alt="icono" class="icono"> 
                Book's Rrrrr
            </h1>
        </div>

        <div class="col-xs-9 col-sm-8 col-md-8 col-lg-7   col-lg-offset-2">
            <input type="checkbox" id="btn-menu">
            <label id="img-menu" for="btn-menu"><i class="fas fa-hamburger"></i></label>
    
            <nav class="menu">
                <ul>
                    <form id="form_buscador">
                        <fieldset id="fiel_buscador">
                            <input id="input_buscador" type="search" >
                            <button id="btn_buscador" type="submit"><i class="fas fa-search"></i></button>
                        </fieldset>
                    </form>

                    <!--Aquí ocurre algo extraño con las url que son de alguna "aplicación django"
                        y no del urls.py principal ya que requieren de su "namespaced" especificado 
                        seguido de dos puntos, ni idea de por qué .-. -->
                    <li><a href="{% url 'index' %}"> Home</a></li>
                    <li><a href="#">Favoritos</a></li>
                    <li><a href="#">Galeria</a></li>        
                    <li><a href="{% url 'login' %}" id="sesion">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--Barra de navegacion-->

    <!--En este bloque iría todo el contenido de la pagina actual que herede de index-->
    {% block Pagina %}
        <!--Scrollup-->
        <a class="up scrollup" href="#up"> <i class="fas fa-arrow-up"></i> </a>
        <script src="{% static 'Js/scrollup.js' %}"></script>
        
        <!--Carrusel de imagenes-->
        <div id="bajo_navegador" class="row">
            <div class="col-xs-12">
                <div class="slide_show">
                    <div class="my_slide fade"><img class="imagenes" src="{% static 'Img/portadas/41556_1.jpg' %}" alt="imagen de presentacion 1"></div>
                    <div class="my_slide fade"><img class="imagenes" src="{% static 'Img/portadas/Bklx0nFjQg_1256x620.jpg' %}" alt="imagen de presentacion 2"></div>
                    <div class="my_slide fade"><img class="imagenes" src="{% static 'Img/portadas/florencia-viadana-1J8k0qqUfYY-unsplash.jpg' %}" alt="imagen de presentacion 3"></div>
                </div>
            </div>
        </div>

        <div id="bajo_navegador" class="row">
            <div class="col-xs-12 classdots">
                <span class="dot" onclick="Manual(0)"></span>
                <span class="dot" onclick="Manual(1)"></span>
                <span class="dot" onclick="Manual(2)"></span>
            </div>
        </div>
        <script src="{% static 'Js/slide_show.js' %}"></script>

        <div id="margin_contenido">
            <!--Separador 1-->
            <div id="bajo_navegador" class="row separador">
                <div class="col-xs-4 col-xs-offset-4">
                    <h2>Top</h2>
                </div>
            </div>

            <!--Top libros-->
            <div class="row">
                <div class="col-xs-12">
                    <div id="exampleSlider">
                        <div class='MS-content'>
                            <div class='item'>
                                <div class="imagen" style="background-image:url(Img/portada-libro.jpg)">
                                    <div class="texto">
                                     <p>Margaret Atwood nos ofrece una sorprendente interpretación del tema de la deuda, de gran actualidad dada la crisis económica por la que atraviesa el mundo tras el colapso de un sistema de deudas interconectadas. En su imaginativa, amena y profunda aproximación a este asunto, Atwood sugiere que la deuda es como el aire, algo que se da por seguro hasta que las cosas empiezan a ir mal. Es entonces cuando, mientras abrimos la boca intentando respirar, caemos en la cuenta de lo mucho que nos interesa.</p> 
                                    </div>
                                    <div class="stars-outer">
                                        <div class="stars-inner"></div>
                                    </div>
                                    <a class="btn_ver" href="Libro.html">PAGAR (CON LA MISMA MONEDA)</a>
                                </div>
                            </div>
                            <div class='item'>
                                <div class="imagen" style="background-image:url(Img/portadas/top/5c33c88d48f0b557028b4567.__RS360x360__.jpg)">
                                    <div class="texto">
                                      <p >Mariano Sigman, uno de los neurocientíficos de mayor prestigio internacional, nos propone en este fascinante libro un viaje a lo más íntimo de la mente humana: los sueños, la conciencia, las decisiones, el aprendizaje y las emociones. La vida secreta de la mente es un viaje especular que recorre el cerebro y el pensamiento: se trata de ...</p>  
                                    </div>
                                    <div class="stars-outer">
                                        <div class="stars-inner"></div>
                                    </div>
                                    <a class="btn_ver" href="Libro.html">La Vida Secreta de la Mente</a>
                                </div>
                            </div>
                            <div class='item'>
                                <div class="imagen" style="background-image:url(Img/portadas/top/34eecf0f1c2d8940a4553244289fa463-product.jpg)">
                                    <div class="texto">
                                      <p >Una joven de la alta sociedad abandona a su arrogante pretendiente por un artista humilde en el trasatlántico que se hundió durante su viaje inaugural.</p>  
                                    </div>
                                    <div class="stars-outer">
                                        <div class="stars-inner"></div>
                                    </div>
                                    <a class="btn_ver" href="Libro.html">Espíritu de La Ciencia-Ficción</a>
                                </div>
                            </div>
                            <div class='item'>
                                <div class="imagen" style="background-image:url(Img/portadas/top/c33587b4de3b4c39989dfcc383e61b04-product.jpg)">
                                    <div class="texto">
                                       <p>Después del éxito de la edición ilustrada de Cien años de soledad, Luisa Rivera vuelve a rendir homenaje
                                            a García Márquez con una serie de ilustraciones inéditas que recrean el extraordinario universo del autor.
                                            En El amor en los tiempos del cólera, García Márquez traza la historia de un amor que no ha sido
                                            correspondido durante medio siglo</p> 
                                    </div>
                                    <div class="stars-outer">
                                        <div class="stars-inner"></div>
                                    </div>
                                    <a class="btn_ver" href="Libro.html">El Amor en los Tiempos del Cólera</a>
                                </div>
                            </div>
                            <div class='item'>
                                <div class="imagen" style="background-image:url(Img/portadas/top/d3a3401cb53e03f7d51c2b81c558045e-product.jpg)">
                                    <div class="texto">
                                       <p>Bien dicen que ''hay grandes libros en el mundo y grandes mundos en los libro'', y ¿qué mejor que una nueva aventura por descubrir con cada ejemplar? Pues, si es un amante de la lectura o recién se está iniciando en ella, leer es una actividad que estimula su mente y potencia su imaginación a niveles asombrosos, sobre todo si encuentra ese que se convierte en su favorito o incluso si solo se trata de alguna recomendación hecha por un amigo.</p> 
                                    </div>
                                    <div class="stars-outer">
                                        <div class="stars-inner"></div>
                                    </div>
                                    <a class="btn_ver" href="Libro.html">Allende La Biografia</a>
                                </div>
                            </div>
                            <div class='item'>
                                <div class="imagen" style="background-image:url(Img/portadas/top/bd9a8bf7ad3af10ebd1843560a948dd8-product.jpg)">
                                    <div class="texto">
                                     <p>Cuando Michael y Verity eran pareja compartían un juego privado muy especial. No era el típico juego de dos amantes a puerta cerrada. Era algo público y mucho más perverso cuyas normas solo conocían ellos.
                                            De todo eso ya ha pasado un año. Verity ya no le devuelve las llamadas a Mike, no contesta a sus correos, y está a punto de casarse con otro. Pero él sigue enamorado y convencido de que ella todavía le quiere. Cree que su matrimonio no es más que una nueva versión del juego</p>
                                     </div>
                                    <div class="stars-outer">
                                        <div class="stars-inner"></div>
                                    </div>
                                    <a class="btn_ver" href="Libro.html">Nuestro Juego Mas Cruel</a>
                                </div>
                            </div>
                        </div>
                        <div class='MS-controls'>
                            <button class='MS-left'><i class='fa fa-chevron-left' aria-hidden='true'></i></button>
                            <button class='MS-right'><i class='fa fa-chevron-right' aria-hidden='true'></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Separador 2-->
            <a name="favoritos"></a>
            <div id="bajo_navegador" class="row separador">
                <div class="col-xs-4 col-xs-offset-4">
                    <h2>Más votados</h2>
                </div>
            </div>
 
           

            <!--Más votados-->
            <div class="row">
                <div class="col-xs-12">
                    <div id="exampleSlider2">
                        <div class='MS-content'>
                            <div class='item'>
                                <div class="imagen" style="background-image:url(Img/portadas/top/d3a3401cb53e03f7d51c2b81c558045e-product.jpg)">
                                    <div class="texto">
                                       <p>Bien dicen que ''hay grandes libros en el mundo y grandes mundos en los libro'', y ¿qué mejor que una nueva aventura por descubrir con cada ejemplar? Pues, si es un amante de la lectura o recién se está iniciando en ella, leer es una actividad que estimula su mente y potencia su imaginación a niveles asombrosos, sobre todo si encuentra ese que se convierte en su favorito o incluso si solo se trata de alguna recomendación hecha por un amigo.</p> 
                                    </div>
                                    <div class="stars-outer">
                                        <div class="stars-inner"></div>
                                    </div>
                                    <a class="btn_ver" href="Libro.html">Allende La Biografia</a>
                                </div>
                            </div>
                            <div class='item'>
                                <div class="imagen" style="background-image:url(Img/portadas/terror/5c1275a950c7615f5f8b4567.__RS360x360__.jpg)">
                                    <div class="texto">
                                        <p>Margaret Atwood nos ofrece una sorprendente interpretación del tema de la deuda, de gran actualidad dada la crisis económica por la que atraviesa el mundo tras el colapso de un sistema de deudas interconectadas. En su imaginativa, amena y profunda aproximación a este asunto, Atwood sugiere que la deuda es como el aire, algo que se da por seguro hasta que las cosas empiezan a ir mal. Es entonces cuando, mientras abrimos la boca intentando respirar, caemos en la cuenta de lo mucho que nos interesa.</p> 
                                    </div>
                                    <div class="stars-outer">
                                        <div class="stars-inner"></div>
                                    </div>
                                    <a class="btn_ver" href="Libro.html">Frankenstein o el moderno Prometeo</a>
                                </div>
                            
                        </div>
                        <div class='item'>
                            <div class="imagen" style="background-image:url(Img/portadas/top/bd9a8bf7ad3af10ebd1843560a948dd8-product.jpg)">
                                <div class="texto">
                                 <p>Cuando Michael y Verity eran pareja compartían un juego privado muy especial. No era el típico juego de dos amantes a puerta cerrada. Era algo público y mucho más perverso cuyas normas solo conocían ellos.
                                        De todo eso ya ha pasado un año. Verity ya no le devuelve las llamadas a Mike, no contesta a sus correos, y está a punto de casarse con otro. Pero él sigue enamorado y convencido de que ella todavía le quiere. Cree que su matrimonio no es más que una nueva versión del juego</p>
                                 </div>
                                <div class="stars-outer">
                                    <div class="stars-inner"></div>
                                </div>
                                <a class="btn_ver" href="Libro.html">Nuestro Juego Mas Cruel</a>
                            </div>
                        </div>
                        <div class='item'>
                            <div class="imagen" style="background-image:url(Img/portadas/terror/libros-terror.jpg)">
                                <div class="texto">
                                    <p>El resplandor es la tercera novela de terror del escritor estadounidense Stephen King, publicada en 1977. El título se inspiró en la canción de John Lennon "Instant Karma!", que contiene la línea «We all shine on..</p>
                                </div>
                                <div class="stars-outer">
                                    <div class="stars-inner"></div>
                                </div>
                                <a class="btn_ver" href="Libro.html">El resplandor (novela)</a>
                            </div>
                    </div>
                    <div class='item'>
                        <div class="imagen" style="background-image:url(Img/portada-libro.jpg)">
                            <div class="texto">
                             <p>Margaret Atwood nos ofrece una sorprendente interpretación del tema de la deuda, de gran actualidad dada la crisis económica por la que atraviesa el mundo tras el colapso de un sistema de deudas interconectadas. En su imaginativa, amena y profunda aproximación a este asunto, Atwood sugiere que la deuda es como el aire, algo que se da por seguro hasta que las cosas empiezan a ir mal. Es entonces cuando, mientras abrimos la boca intentando respirar, caemos en la cuenta de lo mucho que nos interesa.</p> 
                            </div>
                            <div class="stars-outer">
                                <div class="stars-inner"></div>
                            </div>
                            <a class="btn_ver" href="Libro.html">PAGAR (CON LA MISMA MONEDA)</a>
                        </div>
                    </div>
                    <div class='item'>
                        <div class="imagen" style="background-image:url(Img/portadas/terror/EL354038.jpg)">
                            <div class="texto">
                                <p>It es una novela de terror publicada en 1986 por el escritor estadounidense Stephen King. Cuenta la historia de un grupo de siete niños que son aterrorizados por un malvado monstruo -al que llaman «Eso»- que es capaz de cambiar de forma, alimentándose del terror que produce en sus víctimas. </p>
                            </div>
                            <div class="stars-outer">
                                <div class="stars-inner"></div>
                            </div>
                            <a class="btn_ver" href="Libro.html">It (novela)</a>
                        </div>
                </div>
                        </div>
                        <div class='MS-controls'>
                            <button class='MS-left'><i class='fa fa-chevron-left' aria-hidden='true'></i></button>
                            <button class='MS-right'><i class='fa fa-chevron-right' aria-hidden='true'></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Separador 3-->
            <div id="bajo_navegador" class="row separador">
                <div class="col-xs-4 col-xs-offset-4">
                    <h2>Nuevos</h2>
                </div>
            </div>

            <!--Nuevos-->
            <div class="row">
                <div class="col-xs-12">
                    <div id="exampleSlider3">
                        <div class='MS-content'>
                            <div class='item'>
                                <div class="imagen" style="background-image:url(Img/portadas/terror/5c1275a950c7615f5f8b4567.__RS360x360__.jpg)">
                                    <div class="texto">
                                        <p>Margaret Atwood nos ofrece una sorprendente interpretación del tema de la deuda, de gran actualidad dada la crisis económica por la que atraviesa el mundo tras el colapso de un sistema de deudas interconectadas. En su imaginativa, amena y profunda aproximación a este asunto, Atwood sugiere que la deuda es como el aire, algo que se da por seguro hasta que las cosas empiezan a ir mal. Es entonces cuando, mientras abrimos la boca intentando respirar, caemos en la cuenta de lo mucho que nos interesa.</p> 
                                    </div>
                                    <div class="stars-outer">
                                        <div class="stars-inner"></div>
                                    </div>
                                    <a class="btn_ver" href="Libro.html">Frankenstein o el moderno Prometeo</a>
                                </div>
                        </div>
                        <div class='item'>
                            <div class="imagen" style="background-image:url(Img/portadas/top/bd9a8bf7ad3af10ebd1843560a948dd8-product.jpg)">
                                <div class="texto">
                                 <p>Cuando Michael y Verity eran pareja compartían un juego privado muy especial. No era el típico juego de dos amantes a puerta cerrada. Era algo público y mucho más perverso cuyas normas solo conocían ellos.
                                        De todo eso ya ha pasado un año. Verity ya no le devuelve las llamadas a Mike, no contesta a sus correos, y está a punto de casarse con otro. Pero él sigue enamorado y convencido de que ella todavía le quiere. Cree que su matrimonio no es más que una nueva versión del juego</p>
                                 </div>
                                <div class="stars-outer">
                                    <div class="stars-inner"></div>
                                </div>
                                <a class="btn_ver" href="Libro.html">Nuestro Juego Mas Cruel</a>
                            </div>
                        </div>
                            <div class='item'>
                                <div class="imagen" style="background-image:url(Img/portadas/terror/misery_princ.jpg)">
                                    <div class="texto">
                                        <p>Misery libro es una novela de terror de que fue publicada en el año 1987, su autor es el famoso Stephen King. Uno de los libros más populares y exitosos de King, se centra en Paul Sheldon, un prolífico novelista más conocido por sus novelas románticas de la época victoriana protagonizadas por el personaje Misery Chastain.</p>    
                                    </div>
                                    <div class="stars-outer">
                                        <div class="stars-inner"></div>
                                    </div>
                                    <a class="btn_ver" href="Libro.html">Misery (novela)</a>
                                </div>
                           </div>
                           <div class='item'>
                            <div class="imagen" style="background-image:url(Img/portadas/top/d3a3401cb53e03f7d51c2b81c558045e-product.jpg)">
                                <div class="texto">
                                   <p>Bien dicen que ''hay grandes libros en el mundo y grandes mundos en los libro'', y ¿qué mejor que una nueva aventura por descubrir con cada ejemplar? Pues, si es un amante de la lectura o recién se está iniciando en ella, leer es una actividad que estimula su mente y potencia su imaginación a niveles asombrosos, sobre todo si encuentra ese que se convierte en su favorito o incluso si solo se trata de alguna recomendación hecha por un amigo.</p> 
                                </div>
                                <div class="stars-outer">
                                    <div class="stars-inner"></div>
                                </div>
                                <a class="btn_ver" href="Libro.html">Allende La Biografia</a>
                            </div>
                        </div>
                        <div class='item'>
                            <div class="imagen" style="background-image:url(Img/portadas/terror/libros-terror.jpg)">
                                <div class="texto">
                                    <p>El resplandor es la tercera novela de terror del escritor estadounidense Stephen King, publicada en 1977. El título se inspiró en la canción de John Lennon "Instant Karma!", que contiene la línea «We all shine on..</p>
                                </div>
                                <div class="stars-outer">
                                    <div class="stars-inner"></div>
                                </div>
                                <a class="btn_ver" href="Libro.html">El resplandor (novela)</a>
                            </div>
                         </div>
                            <div class='item'>
                                <div class="imagen" style="background-image:url(Img/portadas/terror/EL354038.jpg)">
                                    <div class="texto">
                                        <p>It es una novela de terror publicada en 1986 por el escritor estadounidense Stephen King. Cuenta la historia de un grupo de siete niños que son aterrorizados por un malvado monstruo -al que llaman «Eso»- que es capaz de cambiar de forma, alimentándose del terror que produce en sus víctimas. </p>
                                    </div>
                                    <div class="stars-outer">
                                        <div class="stars-inner"></div>
                                    </div>
                                    <a class="btn_ver" href="Libro.html">It (novela)</a>
                                </div>
                             </div>
                        </div>
                        <div class='MS-controls'>
                            <button class='MS-left'><i class='fa fa-chevron-left' aria-hidden='true'></i></button>
                            <button class='MS-right'><i class='fa fa-chevron-right' aria-hidden='true'></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Separador 4-->
            <div id="bajo_navegador" class="row separador">
                <div class="col-xs-4 col-xs-offset-4">
                    <h2>Terror</h2>
                </div>
            </div>

            <!--Terror-->
            <div class="row">
                <div class="col-xs-12">
                    <div id="exampleSlider4">
                        <div class='MS-content'>
                            <div class='item'>
                                    <div class="imagen" style="background-image:url(Img/portadas/terror/5c1275a950c7615f5f8b4567.__RS360x360__.jpg)">
                                        <div class="texto">
                                            <p>Margaret Atwood nos ofrece una sorprendente interpretación del tema de la deuda, de gran actualidad dada la crisis económica por la que atraviesa el mundo tras el colapso de un sistema de deudas interconectadas. En su imaginativa, amena y profunda aproximación a este asunto, Atwood sugiere que la deuda es como el aire, algo que se da por seguro hasta que las cosas empiezan a ir mal. Es entonces cuando, mientras abrimos la boca intentando respirar, caemos en la cuenta de lo mucho que nos interesa.</p> 
                                        </div>
                                        <div class="stars-outer">
                                            <div class="stars-inner"></div>
                                        </div>
                                        <a class="btn_ver" href="Libro.html">Frankenstein o el moderno Prometeo</a>
                                    </div>
                            </div>
                            <div class='item'>
                                    <div class="imagen" style="background-image:url(Img/portadas/terror/the-turn-of-the-screw-119.jpg)">
                                        <div class="texto">
                                            <p>Una joven institutriz acude al cuidado de dos niños huérfanos en una vetusta mansión victoriana. Lo que en principio parece un cometido agradable derivará en una situación de pesadilla. Los niños viven impactados por un pasado inmediato en el que la anterior institutriz, la señorita Jessel, y Peter Quint, el criado y ayuda de cámara del patrón (el tío de los niños), mantenían una turbia relación. Se podría suponer que se dieron ciertos abusos</p>
                                        </div>
                                        <div class="stars-outer">
                                            <div class="stars-inner"></div>
                                        </div>
                                        <a class="btn_ver" href="Libro.html">The Turn of the Screw</a>
                                    </div>
                            </div>
                            <div class='item'>
                                    <div class="imagen" style="background-image:url(Img/portadas/terror/9788466705660.jpg)">
                                        <div class="texto">
                                            <p>Margaret Atwood nos ofrece una sorprendente interpretación del tema de la deuda, de gran actualidad dada la crisis económica por la que atraviesa el mundo tras el colapso de un sistema de deudas interconectadas. En su imaginativa, amena y profunda aproximación a este asunto, Atwood sugiere que la deuda es como el aire, algo que se da por seguro hasta que las cosas empiezan a ir mal. Es entonces cuando, mientras abrimos la boca intentando respirar, caemos en la cuenta de lo mucho que nos interesa.</p> 
                                        </div>
                                        <div class="stars-outer">
                                            <div class="stars-inner"></div>
                                        </div>
                                        <a class="btn_ver" href="Libro.html">El gato negro</a>
                                    </div>
                            </div>
                            <div class='item'>
                                    <div class="imagen" style="background-image:url(Img/portadas/terror/libros-terror.jpg)">
                                        <div class="texto">
                                            <p>El resplandor es la tercera novela de terror del escritor estadounidense Stephen King, publicada en 1977. El título se inspiró en la canción de John Lennon "Instant Karma!", que contiene la línea «We all shine on..</p>
                                        </div>
                                        <div class="stars-outer">
                                            <div class="stars-inner"></div>
                                        </div>
                                        <a class="btn_ver" href="Libro.html">El resplandor (novela)</a>
                                    </div>
                            </div>
                            <div class='item'>
                                    <div class="imagen" style="background-image:url(Img/portadas/terror/misery_princ.jpg)">
                                        <div class="texto">
                                            <p>Misery libro es una novela de terror de que fue publicada en el año 1987, su autor es el famoso Stephen King. Uno de los libros más populares y exitosos de King, se centra en Paul Sheldon, un prolífico novelista más conocido por sus novelas románticas de la época victoriana protagonizadas por el personaje Misery Chastain.</p>    
                                        </div>
                                        <div class="stars-outer">
                                            <div class="stars-inner"></div>
                                        </div>
                                        <a class="btn_ver" href="Libro.html">Misery (novela)</a>
                                    </div>
                            </div>
                            <div class='item'>
                                    <div class="imagen" style="background-image:url(Img/portadas/terror/EL354038.jpg)">
                                        <div class="texto">
                                            <p>It es una novela de terror publicada en 1986 por el escritor estadounidense Stephen King. Cuenta la historia de un grupo de siete niños que son aterrorizados por un malvado monstruo -al que llaman «Eso»- que es capaz de cambiar de forma, alimentándose del terror que produce en sus víctimas. </p>
                                        </div>
                                        <div class="stars-outer">
                                            <div class="stars-inner"></div>
                                        </div>
                                        <a class="btn_ver" href="Libro.html">It (novela)</a>
                                    </div>
                            </div>
                        </div>
                        <div class='MS-controls'>
                            <button class='MS-left'><i class='fa fa-chevron-left' aria-hidden='true'></i></button>
                            <button class='MS-right'><i class='fa fa-chevron-right' aria-hidden='true'></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Initialize elements with Multislider -->
            <script>
                $('#exampleSlider').multislider({
                    interval: 3100,
                    slideAll: false,
                    duration: 500
                });
                $('#exampleSlider2').multislider({
                    interval: 3200,
                    slideAll: false,
                    duration: 500,
                });
                $('#exampleSlider3').multislider({
                    interval: 3300,
                    slideAll: false,
                    duration: 500,
                });
                $('#exampleSlider4').multislider({
                    interval: 3400,
                    slideAll: false,
                    duration: 500,
                });
            </script>

            <!--Parallax-->
            <script src="{% static 'Js/Parallax.js' %}"></script>

            <!--Separador final-->
            <div id="bajo_navegador" class="row separador">
                <div class="col-xs-4 col-xs-offset-4">
                    <div id="Separador">
                      
                    </div>
                </div>
            </div>

        </div>
    {% endblock Pagina %}

    <!--Footer-->
    <footer>
        <div class='row navBar center-xs center-sm'>
            <div id='navfooter' class='col-xs-12  col-sm-4 col-md-4 col-lg-3  center-sm center-xs'>
                <h1 class='logo' >
                        <img src="{% static 'Img/LonelyBot.png' %}" alt="icono" class="icono">  
                    Books R
                </h1>
            </div>
            <div class='col-sm-4'>
                <a href='#'>Nosotros</a>
                <a href='https://www.google.com/maps/place/Duoc+UC:+Sede+Viña+Del+Mar/@-33.0336892,-71.5353728,17z/data=!3m1!4b1!4m5!3m4!1s0x9689de64d74fd4af:0x8004f381e9055a38!8m2!3d-33.0336892!4d-71.5331841' target='_blank'> Direccion</a>
                <a href='tel:+56965832455'> +569 74836789</a>
            </div>
            <div class='col-sm-4'>
                <a href='https://www.instagram.com/?hl=es-la' target='_blank'><i class='icon-fo fab fa-instagram'></i> Siguenos en Intagram</a>
                <a href='https://www.facebook.com' target='_blank'><i class='icon-fo fab fa-facebook-square'></i> Siguenos en Facebook</a>
                <a href='https://www.youtube.com/watch?v=D_T1KrI-zqw' target='_blank'><i class='icon-fo fab fa-youtube'></i> Sigenos en Youtube</a>
            </div>
        </div>
    </footer>
</body>
</html>